version: 2
jobs:
  build:
    docker:
      - image: circleci/openjdk:8-jdk
    environment:
      KEY: /home/circleci/developer_key.der
    steps:
      - restore_cache:
          key: connectiq-sdk
      - run:
          name: Install ConnectIQ SDK
          command: |
            cd
            if [ ! -d "/home/circleci/connectiq" ]; then
              wget https://developer.garmin.com/downloads/connect-iq/beta/sdks/connectiq-sdk-lin-3.0.0-beta3.zip
              unzip connectiq-sdk-lin-3.0.0-beta3.zip -d /home/circleci/connectiq
            fi
            echo 'export PATH=/home/circleci/connectiq/bin:$PATH' >> $BASH_ENV
      - save_cache:
          paths: /home/circleci/connectiq
          key: connectiq-sdk
      - checkout
      - run:
          name: Generate Ephemeral Developer Key
          command: |
            cd
            openssl genrsa -out developer_key.pem 4096
            openssl pkcs8 -topk8 -inform PEM -outform DER -in developer_key.pem -out $KEY -nocrypt

      - run:
          name: Run Tests
          command: |
            connectiq
            make test

      - run:
          name: Create Release Build
          command: make release

      - store_artifacts:
          path: /home/circleci/project/bin
